/* Estilos para todo el proyecto */
body {
    font-family: Arial, sans-serif;
    background-color: #882020; /* Change background color */
    color: white; /* Set text color to white */
}

.contenedor-centrado {
    display: flex;
    width: 100%;
    justify-content: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    background-color: #882020; /* Change background color */
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    color: white; /* Set text color to white */
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: white; /* Set text color to white */
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: black; /* Change form background color to black */
    border: 1px solid lightslategray;
    border-radius: 5px;
    color: white; /* Set text color to white */
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: black; /* Change table background color to black */
    border: 1px solid lightslate
